.recommended{
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    width: 1000;
    font-weight: bold;
    & img{
        transition:all .3s;
        width: 250px;
        overflow: hidden;
    }
    & p {
        color: $lightgrey;
    }
    & a:first-of-type {
        display: block;
        height: 250px;
        width: 250px;
        overflow: hidden;
    }
    & a:hover img{
        width: 280px;   
    }
}